* {
    color: rgb(19, 14, 14);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color:darkseagreen;
}

h1 {
    width: 50%;
    background-color: aliceblue;
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
}

img {
    display: block;
    width: 450px;
    margin: auto;
}

.recipes {
    list-style: url(./images/hat-chef\ \(1\).png);
    font-weight: 700;
}

.recipes a {
    text-decoration: none;
}

.container {
    background-color:mintcream;
    padding: 1px 0 5px 10px;
}

.description-container,
.instructions-container {
    width: 60%;
    padding-right: 4px;
}

.description-container {
    margin: 20px auto;
}

.ingredients-container {
    width: 18%;
    margin-left: 293.5px;
}

.instructions-container {
    margin: auto;
}

.btn-container {
    text-align: center;
    margin: 10px 0;
}

.back-btn {
    background-color:darkgray;
    border: 1px solid black;
    padding: 3px 7px;
    text-decoration: none;
}
